body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  overflow: hidden;
  -webkit-user-select: none;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  cursor: default;
}

.right {
  float: right;
}

/*
body {
  background-image: url(splash.jpg);
  background-size: 100%;
  background-position: -50%;
}
*/

#player {
  width: 100%;
  height: 100%;
}

#overlay {
  opacity: 0;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.3s ease;
}

#popup {
  opacity: 0;
  display: none;
  position: absolute;
  z-index: 20;
  right: 5px;
  bottom: 55px;
  top: 100px;
  width: 400px;
  background-color: #1F2021;
  border-radius: 3px;
  font-size: 14px;
  transition: opacity 0.3s ease;
}

#playlist-entries {
  position: absolute;
  top: 46px;
  bottom: 55px;
  right: 0;
  left: 0;
  overflow: auto;
}

.playlist-entry {
  color: #fff;
  font-size: 13px;
  padding: 10px 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.playlist-entry .status {
  float: right;
}

.playlist-entry.odd {
  background-color: #222324;
}

.playlist-entry.selected {
  background-color: #31A357;
}

#popup .header {
  background-color: #363738;
  color: #E1E1E1;
  font-size: 16px;
  line-height: 16px;
  padding: 15px;
  border-radius: 3px 3px 0 0;
}

#popup .button {
  margin: 10px;
  background-color: #31A357;
  padding: 10px;
  text-align: center;
  color: #E1E1E1;
  border-radius: 3px;
}

#popup .button.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#drag {
  -webkit-app-region: drag;
  position: absolute;
  top: 0;
  left: 70px;
  right: 0;
  height: 24px
}

#idle {
  position: absolute;
  top: 24px;
  bottom: 50px;
  left: 0;
  right: 0;
}

.hide-cursor {
  cursor: none;
}

.hide-cursor #overlay {
  opacity: 0 !important;
}

body:hover #overlay, body:hover #menubar {
  opacity: 1;
}

#menubar {
  padding-left: 3px;
  height: 24px;
  background-color: #1F2021;
}

#menubar-close, #menubar-minimize, #menubar-maximize {
  float: left;
  margin: 6px 4px;
  background-image: url(menubar.png);
  background-size: auto 12px;
  width: 12px;
  height: 12px;
  border-radius: 6px;
}

#menubar-close {
  margin-left: 6px;
  background-position: -26px 0;
}

#menubar-maximize {
  background-position: -13px 0;
}

#controls {
  z-index: 11;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  background-color: #1F2021;
  color: #727374;
}

#controls .center {
  margin-top: 13px;
}

#controls-timeline {
  background-color: #303233;
  height: 10px;
  width: 100%;
}

#controls-timeline-position {
  background-color: #31A357;
  width: 0%;
  height: 10px;
  transition: width 0.25s linear;
}

#controls-fullscreen, #controls-playlist, #controls-play, #controls-broadcast, #player-downloadspeed {
  float: left;
  padding: 9px 20px;
}

#controls-playlist, #controls-broadcast {
  padding-right: 0;
}

#player-downloadspeed {
  margin-top: 4px;
}

#controls-playlist.selected .mega-octicon, #controls-broadcast.selected .mega-octicon {
  color: #31A357;
}

#controls-play {
  padding-right: 15px;
}

.mega-octicon {
  color: #F0F0F0;
  font-size: 22px;
}

#controls-play .mega-octicon {
  color: #31A357;
}

#controls-time {
  width: 100px;
  float: left;
}

#controls-main {
  display: none;
}

#controls-time-current {
  color: #F0F0F0;
}

#controls-time-current, #controls-time-total {
  display: inline-block;
  min-width: 33px;
}

#controls-name {
  float: left;
  margin-left: 20px;
}