body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  overflow: hidden;
  -webkit-user-select: none;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  cursor: default;
}

.right {
  float: right;
}

a:focus {
  border: none;
}

a {
  cursor: default;
}

/*
body {
  background-image: url(splash.jpg);
  background-size: 100%;
  background-position: -50%;
}
*/

#player {
  width: 100%;
  height: 100%;
}

#overlay {
  opacity: 0;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.3s ease;
}

#popup {
  opacity: 0;
  display: none;
  position: absolute;
  z-index: 20;
  right: 5px;
  bottom: 55px;
  top: 100px;
  width: 400px;
  background-color: #1F2021;
  border-radius: 3px;
  font-size: 14px;
  transition: opacity 0.3s ease;
}

#playlist-entries {
  position: absolute;
  top: 46px;
  bottom: 55px;
  right: 0;
  left: 0;
  overflow: auto;
}

.playlist-entry {
  color: #fff;
  font-size: 13px;
  padding: 10px 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
  to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes spin {
  to { -ms-transform: rotate(360deg); }
}

@-o-keyframes spin {
  to { -o-transform: rotate(360deg); }
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.playlist-entry .status {
  float: right;
  -webkit-animation: spin 1.5s infinite linear;
  -moz-animation: spin 1.5s infinite linear;
  -ms-animation: spin 1.5s infinite linear;
  -o-animation: spin 1.5s infinite linear;
  animation: spin 1.5s infinite linear;
}

.playlist-entry .status:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.playlist-entry.odd {
  background-color: #222324;
}

.playlist-entry.selected {
  background-color: #31A357;
}

#popup .header {
  background-color: #363738;
  color: #E1E1E1;
  font-size: 16px;
  line-height: 16px;
  padding: 15px;
  border-radius: 3px 3px 0 0;
}

#popup .button {
  margin: 10px;
  background-color: #31A357;
  padding: 10px;
  text-align: center;
  color: #E1E1E1;
  border-radius: 3px;
}

#popup .button.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#drag {
  -webkit-app-region: drag;
  position: absolute;
  top: 0;
  left: 70px;
  right: 0;
  height: 24px
}

#idle {
  position: absolute;
  top: 24px;
  bottom: 50px;
  left: 0;
  right: 0;
}

.hide-cursor {
  cursor: none;
}

.hide-cursor #overlay {
  opacity: 0 !important;
}

body:hover #overlay, body:hover #menubar {
  opacity: 1;
}

#menubar {
  padding-left: 3px;
  height: 24px;
  background-color: #1F2021;
}

#menubar-close, #menubar-minimize, #menubar-maximize {
  float: left;
  margin: 6px 4px;
  background-image: url(menubar.png);
  background-size: auto 12px;
  width: 12px;
  height: 12px;
  border-radius: 6px;
}

#menubar-close {
  margin-left: 6px;
  background-position: -26px 0;
}

#menubar-maximize {
  background-position: -13px 0;
}

#controls {
  z-index: 11;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  background-color: #1F2021;
  color: #727374;
}

#controls .center {
  margin-top: 13px;
}

#controls-timeline {
  background-color: #303233;
  height: 10px;
  width: 100%;
}

#controls-timeline-position {
  background-color: #31A357;
  width: 0%;
  height: 10px;
  transition: width 0.25s linear;
}

.controls-secondary {
  padding: 6px 10px 0 0;
}

#player-downloadspeed, #controls-playlist, #controls-broadcast {
  margin-right: 11px;
}

#controls-play {
  margin: 6px 9px 6px 14px;
}

#controls-play, #player-downloadspeed, #controls-fullscreen, #controls-playlist,  #controls-broadcast  {
  float: left;
}

#controls-play .mega-octicon, #player-downloadspeed .mega-octicon,
#controls-fullscreen .mega-octicon, #controls-playlist .mega-octicon,
#controls-broadcast .mega-octicon {
  /* this is the click buffer */
  padding: 3px 6px;
}

#controls-play a:hover .mega-octicon, #player-downloadspeed a:hover .mega-octicon,
#controls-fullscreen a:hover .mega-octicon, #controls-playlist a:hover .mega-octicon,
#controls-broadcast a:hover .mega-octicon {
  color: #31A357;
}

#player-downloadspeed {
  margin-top: 4px;
  padding: 9px 20px;
}

#controls-playlist.selected .mega-octicon, #controls-broadcast.selected .mega-octicon {
  color: #31A357;
}

.mega-octicon {
  color: #F0F0F0;
  font-size: 22px;
}

#controls-play .mega-octicon {
  color: #31A357;
}

#controls-time {
  width: 100px;
  float: left;
}

#controls-main {
  display: none;
}

#controls-time-current {
  color: #F0F0F0;
}

#controls-time-current, #controls-time-total {
  display: inline-block;
  min-width: 33px;
}

#controls-name {
  float: left;
  margin-left: 20px;
}
