*, *:after, *:before {
  box-sizing: inherit; }

body {
  background: black;
  overflow: hidden;
  font-family: "Helvetica Neue";
  font-size: 13px;
  margin: 0;
  cursor: default;
  box-sizing: border-box; }

.ui {
  transition: opacity 250ms ease-in-out;
  position: fixed;
  height: 100%;
  width: 100%; }
  .ui.playing {
    opacity: 0; }
    .ui.playing .controls {
      bottom: -50px; }
    .ui.playing .dialog {
      transition: right 250ms ease-in-out;
      right: -20px; }
    .ui.playing:hover {
      opacity: 1; }
      .ui.playing:hover .controls {
        bottom: 0; }
      .ui.playing:hover .dialog {
        right: 20px; }

.btn {
  margin: 0 6px 6px;
  background: #579A57;
  color: #fff;
  padding: 8px 16px;
  font-weight: 600;
  border: none;
  border-radius: 2px;
  font-family: inherit; }
  .btn:hover {
    background: #74b074;
    color: #fff; }

.dialog {
  position: fixed;
  bottom: 50px;
  right: 25px;
  max-height: calc(100% - 100px);
  width: 400px;
  background: rgba(20, 20, 20, 0.9);
  color: #aaa;
  display: flex;
  flex-direction: column;
  z-index: 2; }
  .dialog > ul {
    margin: 0;
    padding: 6px;
    list-style: none;
    flex: 1; }
    .dialog > ul > li {
      padding: 10px 6px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: flex;
      align-items: center;
      min-height: 44px; }
      .dialog > ul > li > .playlist__item-icon {
        width: 30px;
        text-align: center;
        margin-right: 6px;
        color: #999; }
      .dialog > ul > li > .playlist__item-title {
        flex: 1; }
      .dialog > ul > li:hover {
        background-color: #191919;
        color: #fff; }
      .dialog > ul > li.active {
        background-color: #323232;
        color: #fff; }
  .dialog > div {
    text-align: right; }
  .dialog > div > button {
    margin: 0 6px 6px;
    background: #323232;
    color: #aaa;
    padding: 8px 16px;
    font-weight: 600;
    border: none;
    border-radius: 2px;
    font-family: inherit; }
    .dialog > div > button:hover {
      background: #3c3c3c;
      color: #fff; }

.controls {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.84);
  color: #aaa;
  transition: opacity 250ms ease-in-out, bottom 250ms ease-in-out; }
  .controls .controls__timeline {
    height: 10px;
    width: 100%;
    background: rgba(218, 218, 218, 0.12); }
    .controls .controls__timeline > .controls__timeline__progress {
      position: absolute;
      height: 10px;
      background-color: #579A57; }
    .controls .controls__timeline > .controls__timeline__buffered {
      position: absolute;
      height: 10px;
      background-color: rgba(218, 218, 218, 0.12); }
  .controls .controls__toolbar {
    padding: 6px;
    display: flex;
    align-items: center; }
    .controls .controls__toolbar button {
      background: transparent;
      border: none;
      outline: none;
      color: #fff; }
      .controls .controls__toolbar button:hover {
        color: #579A57; }
      .controls .controls__toolbar button:disabled {
        opacity: .4; }
      .controls .controls__toolbar button.muted {
        opacity: .4; }
      .controls .controls__toolbar button.on {
        color: #579A57; }
    .controls .controls__toolbar .controls__title {
      margin-left: 10px;
      flex: 1; }
    .controls .controls__toolbar .controls__metadata {
      margin-right: 10px; }

.empty-state {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.2); }
  .empty-state .empty-state__heading {
    font-size: 16px;
    margin-bottom: 20px; }
  .empty-state .empty-state__icon {
    border: 4px dashed rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 80px;
    margin-bottom: 20px; }

video {
  position: fixed;
  width: 100%;
  height: 100%; }

.fade-up-enter {
  transform-origin: bottom right;
  opacity: 0.01; }

.fade-up-enter.fade-up-enter-active {
  opacity: 1;
  transition: opacity 125ms ease-in-out, transform 125ms ease-in-out, right 125ms ease-in-out; }

.fade-up-leave {
  opacity: 1;
  transform-origin: bottom right; }

.fade-up-leave.fade-up-leave-active {
  opacity: 0.01;
  transition: opacity 125ms ease-in-out, transform 125ms ease-in-out, right 125ms ease-in-out; }
