$body-bg: black;
$body-font: 'Helvetica Neue';
$primary: #579A57;
$controls-bg: rgba(0, 0, 0, 0.84);
$controls-fg: #aaa;
$controls-icon-color: #fff;
$controls-icon-on-color: $primary;
$controls-icon-color-hover: $primary;
$controls-timeline-height: 10px;
$controls-timeline-bg: rgba(218, 218, 218, 0.12);
$controls-timeline-progress-bg: $primary;
$controls-timeline-buffered-bg: rgba(218, 218, 218, 0.12);

$playlist-bg: rgba(20,20,20,.9);
$playlist-fg: $controls-fg;
$playlist-button-bg: rgb(50,50,50);
$playlist-button-fg: #aaa;
$playlist-button-hover-bg: rgb(60,60,60);
$playlist-button-hover-fg: #fff;
$playlist-item-icon-fg: #999;
$playlist-item-hover-bg: rgb(25,25,25);
$playlist-item-hover-fg: #fff;
$playlist-item-active-bg: rgb(50,50,50);
$playlist-item-active-fg: #fff;

$btn-bg: $primary;
$btn-fg: #fff;
$btn-hover-bg: lighten($primary, 10%);
$btn-hover-fg: #fff;

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  background: $body-bg;
  overflow: hidden;
  font-family: $body-font;
  font-size: 13px;
  margin: 0;
  cursor: default;
  box-sizing: border-box;
}

.ui {
  transition: opacity 250ms ease-in-out;
  position: fixed;
  height: 100%;
  width: 100%;

  &.playing {
  opacity: 0;

    .controls {
      bottom: -50px;
    }

    .dialog {
      transition: right 250ms ease-in-out;
      right: -20px;
    }

    &:hover {
      opacity: 1;
      .controls {
        bottom: 0;
      }
      .dialog {
        right: 10px;
      }
    }
  }
}


.btn {
  margin: 0 6px 6px;
  background: $btn-bg;
  color: $btn-fg;
  padding: 8px 16px;
  font-weight: 600;
  border: none;
  border-radius: 2px;
  font-family: inherit;

  &:hover {
    background: $btn-hover-bg;
    color: $btn-hover-fg;
  }
}


.dialog {
  position: fixed;
  bottom: 55px;
  right: 10px;
  max-height: calc(100% - 100px);
  width: 400px;
  background: $playlist-bg;
  color: $playlist-fg;
  display: flex;
  flex-direction: column;
  z-index: 2;

  > ul {
    margin: 0;
    padding: 6px;
    list-style: none;
    flex: 1;

    > li {
      padding: 10px 6px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: flex;
      align-items: center;
      min-height: 44px;

      > .playlist__item-icon {
        width: 30px;
        text-align: center;
        margin-right: 6px;
        color: $playlist-item-icon-fg;
      }

      > .playlist__item-title {
        flex: 1;
      }

      > .playlist__item-action {
        width: 0;
        opacity: 0;
        overflow: hidden;
        transition: opacity 125ms ease-in-out, width 125ms ease-in-out, color 125ms ease-in-out;
        color: rgba(255,255,255,.2);
      }

      &:hover {
        background-color: $playlist-item-hover-bg;
        color: $playlist-item-hover-fg;

        > .playlist__item-action {
          width: 28px;
          opacity: 1;

          &:hover {
            color: #fff;
          }
        }
      }

      &.active {
        background-color: $playlist-item-active-bg;
        color: $playlist-item-active-fg;
      }
    }
  }

  > div {
    text-align: right;
  }

  > div > button {
    margin: 0 6px 6px;
    background: $playlist-button-bg;
    color: $playlist-button-fg;
    padding: 8px 16px;
    font-weight: 600;
    border: none;
    border-radius: 2px;
    font-family: inherit;

    &:hover {
      background: $playlist-button-hover-bg;
      color: $playlist-button-hover-fg;
    }
  }
}

.controls {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $controls-bg;
  color: $controls-fg;
  transition: opacity 250ms ease-in-out, bottom 250ms ease-in-out;

  .controls__timeline {
    height: $controls-timeline-height;
    width: 100%;
    background: $controls-timeline-bg;

    > .controls__timeline__progress {
      position: absolute;
      height: $controls-timeline-height;
      background-color: $controls-timeline-progress-bg;
    }

    > .controls__timeline__buffered {
      position: absolute;
      height: $controls-timeline-height;
      background-color: $controls-timeline-buffered-bg;
    }
  }

  .controls__toolbar {
    padding: 6px;
    display: flex;
    align-items: center;

    button {
      background: transparent;
      border: none;
      outline: none;
      color: $controls-icon-color;

      &:hover {
        color: $controls-icon-color-hover;
      }

      &:disabled {
        opacity: .4;
      }

      &.muted {
        opacity: .4;
      }

      &.on {
        color: $controls-icon-on-color;
      }
    }

    .controls__title {
      margin-left: 10px;
      flex: 1;
    }

    .controls__metadata {
      margin-right: 10px;
    }
  }
}

.empty-state {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(255,255,255,.2);

  .empty-state__heading {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .empty-state__icon {
    border: 4px dashed rgba(255,255,255,.2);
    border-radius: 20px;
    padding: 80px;
    margin-bottom: 20px;
  }
}

video {
  position: fixed;
  width: 100%;
  height: 100%;
}


.fade-up-enter {
  transform-origin: bottom right;
  opacity: 0.01;
  // transform: scale(.75,.75) translate(0, 50%);
}

.fade-up-enter.fade-up-enter-active {
  opacity: 1;
  // transform: scale(1,1) translate(0, 0);
  transition: opacity 125ms ease-in-out, transform 125ms ease-in-out, right 125ms ease-in-out;
}

.fade-up-leave {
  opacity: 1;
  transform-origin: bottom right;
}

.fade-up-leave.fade-up-leave-active {
  opacity: 0.01;
  // transform: scale(.75,.75) translate(0, 50%);
  transition: opacity 125ms ease-in-out, transform 125ms ease-in-out, right 125ms ease-in-out;
}
