*, *:after, *:before {
  box-sizing: inherit; }

body {
  background: black;
  overflow: hidden;
  font-family: Arial;
  font-size: 13px;
  margin: 0;
  cursor: default;
  box-sizing: border-box; }

.ui {
  transition: opacity 250ms ease-in-out;
  position: fixed; }

.ui.hide:not(.stopped) {
  opacity: 0; }
  .ui.hide:not(.stopped) .controls {
    bottom: -50px; }
  .ui.hide:not(.stopped) .dialog {
    right: -20px; }

.ui.stopped .controls > .controls__timeline:hover > .controls__timeline__tooltip {
  opacity: 0; }

video {
  position: fixed;
  width: 100%;
  height: 100%; }

.btn {
  background: #579A57;
  color: #fff;
  padding: 8px 16px;
  font-weight: 600;
  border: none;
  border-radius: 2px;
  font-family: inherit; }
  .btn:hover {
    background: #74b074;
    color: #fff; }

.dialog {
  position: fixed;
  bottom: 55px;
  right: 10px;
  max-height: calc(100% - 100px);
  width: 400px;
  background: rgba(20, 20, 20, 0.95);
  color: #aaa;
  display: flex;
  flex-direction: column;
  z-index: 2;
  transition: right 250ms ease-in-out; }
  .dialog > ul {
    margin: 0;
    padding: 6px;
    list-style: none;
    flex: 1; }
    .dialog > ul:empty {
      padding: 6px 0 0 0; }
    .dialog > ul > li {
      padding: 10px 6px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: flex;
      align-items: center;
      min-height: 44px; }
      .dialog > ul > li > .playlist__item-icon {
        width: 30px;
        text-align: center;
        margin-right: 6px;
        color: #999; }
      .dialog > ul > li > .playlist__item-title {
        flex: 1;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
      .dialog > ul > li > .playlist__item-action {
        width: 0;
        opacity: 0;
        overflow: hidden;
        transition: opacity 125ms ease-in-out, width 125ms ease-in-out, color 125ms ease-in-out;
        color: rgba(255, 255, 255, 0.2); }
      .dialog > ul > li:hover {
        background-color: rgba(255, 255, 255, 0.05);
        color: #fff; }
        .dialog > ul > li:hover > .playlist__item-action {
          width: 28px;
          opacity: 1; }
          .dialog > ul > li:hover > .playlist__item-action:hover {
            color: #fff; }
      .dialog > ul > li.active {
        background-color: rgba(255, 255, 255, 0.15);
        color: #fff; }
  .dialog > div {
    padding: 0 6px 6px 6px; }
  .dialog > div > .btn {
    width: 100%; }

.controls {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.84);
  color: #aaa;
  transition: opacity 250ms ease-in-out, bottom 250ms ease-in-out; }
  .controls .controls__timeline {
    height: 10px;
    width: 100%;
    background: rgba(218, 218, 218, 0.12);
    position: relative;
    z-index: 1; }
    .controls .controls__timeline > .controls__timeline__progress {
      position: absolute;
      height: 10px;
      background-color: #579A57; }
    .controls .controls__timeline > .controls__timeline__buffered {
      position: absolute;
      height: 10px;
      background-color: rgba(218, 218, 218, 0.12); }
    .controls .controls__timeline > .controls__timeline__tooltip {
      background: rgba(0, 0, 0, 0.95);
      border-radius: 3px;
      padding: 4px 8px;
      color: #fff;
      text-align: center;
      font-size: 12px;
      position: absolute;
      z-index: 100;
      opacity: 0;
      transition: opacity 250ms ease-in-out;
      transform: translate(-50%, -28px); }
      .controls .controls__timeline > .controls__timeline__tooltip:after {
        width: 0;
        height: 0;
        top: 100%;
        left: 50%;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid rgba(0, 0, 0, 0.95);
        content: "";
        margin-left: -6px;
        position: absolute; }
    .controls .controls__timeline:hover .controls__timeline__tooltip {
      opacity: 1; }
  .controls .controls__toolbar {
    padding: 6px;
    display: flex;
    align-items: center; }
    .controls .controls__toolbar button {
      background: transparent;
      border: none;
      outline: none;
      color: #fff; }
      .controls .controls__toolbar button:hover:not(:disabled) {
        color: #579A57; }
      .controls .controls__toolbar button:disabled {
        opacity: .4; }
      .controls .controls__toolbar button.muted {
        opacity: .4; }
      .controls .controls__toolbar button.on {
        color: #579A57; }
    .controls .controls__toolbar .controls__title {
      margin-left: 10px;
      flex: 1; }
    .controls .controls__toolbar .controls__metadata {
      margin-right: 10px; }
    .controls .controls__toolbar .controls__toolbar__volume {
      display: inline-block;
      position: relative; }
      .controls .controls__toolbar .controls__toolbar__volume:hover .controls__toolbar__volume__slider {
        opacity: 1;
        visibility: visible;
        transition-delay: 0s; }
    .controls .controls__toolbar .controls__toolbar__volume__slider {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      transition: visibility 0s ease-in-out 250ms, opacity 250ms ease-in-out;
      transform: rotate(270deg);
      transform-origin: top left;
      margin-left: 4px;
      bottom: 0;
      z-index: 100;
      border-radius: 2px;
      background-color: rgba(20, 20, 20, 0.95); }
      .controls .controls__toolbar .controls__toolbar__volume__slider .controls__toolbar__volume__slider-wrapper {
        width: 100px;
        height: 26px;
        position: relative;
        margin: 0 6px; }
        .controls .controls__toolbar .controls__toolbar__volume__slider .controls__toolbar__volume__slider-wrapper > .controls__toolbar__volume__slider__value {
          position: absolute;
          height: 6px;
          top: 50%;
          margin-top: -3px;
          background: #579A57;
          pointer-events: none; }
        .controls .controls__toolbar .controls__toolbar__volume__slider .controls__toolbar__volume__slider-wrapper > input {
          -webkit-appearance: none;
          width: 100%;
          height: 100%;
          background: none;
          outline: none;
          position: relative;
          z-index: 1;
          margin: 0; }
          .controls .controls__toolbar .controls__toolbar__volume__slider .controls__toolbar__volume__slider-wrapper > input::-webkit-slider-thumb {
            -webkit-appearance: none;
            border: none;
            height: 16px;
            position: relative;
            width: 4px;
            top: -5px;
            border-radius: 0;
            background: #fff; }
          .controls .controls__toolbar .controls__toolbar__volume__slider .controls__toolbar__volume__slider-wrapper > input::-webkit-slider-runnable-track {
            height: 6px;
            background-color: rgba(0, 0, 0, 0.3); }

.empty-state {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.2); }
  .empty-state .empty-state__heading {
    font-size: 16px;
    margin-bottom: 20px; }
  .empty-state .empty-state__icon {
    border: 4px dashed rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 80px;
    margin-bottom: 20px; }

.fade-up-enter {
  transform-origin: bottom right;
  opacity: 0.01; }

.fade-up-enter.fade-up-enter-active {
  opacity: 1;
  transition: opacity 125ms ease-in-out, transform 125ms ease-in-out, right 125ms ease-in-out; }

.fade-up-leave {
  opacity: 1;
  transform-origin: bottom right; }

.fade-up-leave.fade-up-leave-active {
  opacity: 0.01;
  transition: opacity 125ms ease-in-out, transform 125ms ease-in-out, right 125ms ease-in-out; }
